<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ICCH Bulletin</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" type="text/css" href="fonts/fontawesome/css/font-awesome.min.css">
        <script src="lib/moment-with-locales.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="lib/showdown.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/vue.js"></script>
        <script src="js/vue-fa-calendar.js"></script>
        <script src="js/vue-color.min.js"></script>
    </head>
    <body style="-webkit-print-color-adjust:exact;">
        <div id="messageToasts" v-if="messages.length">
            <div v-for="message in messages" v-bind:class="'messageToast ' + message.type + ' show-' + message.display">
                {{ message.text }}
            </div>
        </div>
        <div id="inputDialog" v-if="show">
            <div class="textbox" v-if="type === 'textbox' || type === 'appointmentTextbox'">
                <textarea v-model="data"></textarea>
            </div>
            <div class="readingpicker" v-if="type === 'readingpicker'">
                <input type="text" class="reading" v-model:value="data"></input>
                <ul>
                    <li v-on:click="selectSuggestion(suggestion.short)" v-for="suggestion in dataSuggestions">{{ suggestion.short }} <span class="hint">({{ suggestion.long }})</span></li>
                </ul>
            </div>
            <div class="sundaypicker" v-if="type === 'sundaypicker'">
                <input type="text" class="sunday-label" v-bind:value="data"></input>
                <button v-on:click="decreaseData(7)" class="prev">&larr;</button>
                <button v-on:click="increaseData(7)" class="next">&rarr;</button>
            </div>
            <div class="daypicker" v-if="type === 'daypicker'">
                <fa-month-table 
                    date-format="x"
                    v-on:dateclicked="okDay"
                    v-bind:month-date="data"></fa-month-table>
            </div>

            <button v-if="type !== 'daypicker'" v-on:click="ok">Ok</button>
            <button v-on:click="cancel">Cancel</button>
        </div>
        <div id="app">
            <ul id="toolBar" class="noselect hideinprint">
                <li class="tabs">
                    <ul>
                        <li v-bind:class="{ selected: toolbar.current === 'file' }"
                            v-on:click="selectTab('file')">File</li>
                        <li v-bind:class="{ selected: toolbar.current === 'color' }"
                            v-on:click="selectTab('color')">Color</li>
                        <li v-bind:class="{ selected: toolbar.current === 'font' }"
                            v-on:click="selectTab('font')">Font</li>
                        <li v-bind:class="{ selected: toolbar.current === 'image' }"
                            v-on:click="selectTab('image')">Image</li>
                        <li v-bind:class="{ selected: toolbar.current === 'tools' }"
                            v-on:click="selectTab('tools')">Tools</li>
                        <li v-bind:class="{ selected: toolbar.current === 'publish' }"
                            v-on:click="selectTab('publish')">Publish</li>
                    </ul>
                </li>
                <li v-if="toolbar.current === 'file'">
                    <ul>
                        <li>
                            <span class="fa fa-download"></span>
                            <button v-on:click="saveToJson()">
                                Save
                            </button>
                            &nbsp; <span class="fa fa-upload"></span>
                            <input ref="upload" type="file" id="input" text="Load" v-on:change="loadFromJsonFile()"></input>
                            JSON
                            <input id="jsonBulletin" type="text" />
                            <button v-on:click="loadFromJsonClicked()">Load</button>
                        </li>
                    </ul>
                </li>
                <li v-if="toolbar.current === 'color'">
                    <ul>
                        <li><span class="fa fa-paint-brush" /></li>
                        <li>
                            <slider-picker v-model="colors" v-on:change-color="updateColor1"></slider-picker>
                        </li>
                        <li><span class="fa fa-font" /></li>
                        <li>
                            <slider-picker v-model="colors" v-on:change-color="updateColor2"></slider-picker>
                        </li>
                        <li>
                            Theme:
                            <span v-for="theme in Object.keys(themes)"
                                class="theme btn"
                                v-on:click="setTheme(theme)"
                                v-bind:style="{ 
                                    border: '1px solid ' + themes[theme].border,
                                    background: themes[theme].color1, 
                                    color: themes[theme].color2 }"
                                >{{theme}}</span>
                        </li>
                    </ul>
                </li>
                <li v-if="toolbar.current === 'font'">
                    <ul>
                        <li><span class="fa fa-font">&nbsp;</span>
                            <select v-model="bulletin.fonts.text.family">
                                <option value="Verdana">Verdana</option>
                                <option value="Tahoma">Tahoma</option>
                                <option value="Georgia">Georgia</option>
                                <option value="Times New Roman">Times New Roman</option>
                                <option value="Serif">Serif</option>
                                <option value="Sans-Serif">Sans-Serif</option>
                            </select>
                            <span class="sizeBox">
                                {{ bulletin.fonts.text.size }}pt
                            </span>
                            <span v-on:click="decreaseFontSize" class="btn fa fa-minus"></span>
                            <span v-on:click="increaseFontSize" class="btn fa fa-plus"></span>
                        </li>
                        <li><span class="fa fa-text-height">&nbsp;</span>
                            <span class="sizeBox">
                                {{ bulletin.fonts.text.lineHeight }}
                            </span>
                            <span v-on:click="decreaseLineHeight" class="btn fa fa-minus"></span>
                            <span v-on:click="increaseLineHeight" class="btn fa fa-plus"></span>
                        </li>
                        <li><span class="fa fa-paragraph">&nbsp;</span>
                            <span class="sizeBox">
                                {{ bulletin.fonts.text.paragraphMargin }}
                            </span>
                            <span v-on:click="decreaseParagraphMargin" class="btn fa fa-minus"></span>
                            <span v-on:click="increaseParagraphMargin" class="btn fa fa-plus"></span>
                        </li>
                    </ul>
                </li>
                <li v-if="toolbar.current === 'image'">
                    <ul>
                        <li>
                            <span class="fa fa-picture-o"></span>
                            <button v-on:click="toggleImage">Switch</button>
                        </li>
                        <li>
                            <span class="fa fa-expand" style="border: 1px solid white; padding: 1px;"></span>
                            <span v-on:click="increaseImageWidth" class="btn fa fa-minus"></span>
                            <span v-on:click="decreaseImageWidth" class="btn fa fa-plus"></span>
                        </li>
                    </ul>
                </li>
                <li v-if="toolbar.current === 'tools'">
                    <ul>
                        <li>
                            Changes ({{history.pointer + 1}} / {{history.changes.length}})
                            <button v-on:click="historyUndo"><span class="fa fa-undo"></span></button>
                            <button v-on:click="historyRedo"><span class="fa fa-repeat"></span></button>
                        </li>
                        <li>
                            <span class="fa fa-calendar"></span>
                            <button v-on:click="addAppointment"><span class="fa fa-plus"></span></button>
                        </li>
                        <li>
                            <span class="fa fa-magic"></span>
                            <button v-on:click="updateReadingFromSunday()">Readings</button>
                            <button v-on:click="updateTitleFromSunday()">Title</button>
                            <button v-on:click="updateThemeFromSunday()">Theme</button>
                        </li>
                    </ul>
                </li>
                <li v-if="toolbar.current === 'publish'">
                    <ul>
                        <li>
                            API Service:
                            <select v-model="toolbar.api">
                                <option v-for="api in toolbar.apis" :value="api.endpoint">{{api.name}}</option>
                            </select>
                            Password:
                            <input v-if="toolbar.publishEnabled" class="publishPassword" v-model="bulletin.password" placeholder="Pass" type="password"></input>
                            <input v-model="bulletin.publish.icch" :checked="toolbar.publishEnabled && bulletin.publish.icch" type="checkbox"/><label for="publishIcch"><a :href="bulletin.publish.htmlLink" target="_blank"><img src="images/icch.png" /></a></label>
                            <input v-model="bulletin.publish.facebook" :checked="toolbar.publishEnabled && bulletin.publish.facebook" type="checkbox"/>
                                <label for="publishFacebook">
                                    <img v-on:click="showInput('textbox', 'bulletin.publish.facebookMessage')" 
                                        v-bind:class="{
                                            'action': true,
                                            'img-disabled': (bulletin.publish.facebookMessage.length === 0)
                                        }" src="images/fb.png" />
                                </label>
                            <button :disabled="!bulletin.publish.facebook && !bulletin.publish.icch" v-if="toolbar.publishEnabled" v-on:click="publishBulletin">Go</span></button>
                            <img v-if="!toolbar.publishEnabled" class="progressBar" src="images/progress.gif" />
                            Status:
                            {{toolbar.publishStatus}}
                            <button v-on:click="checkPublishBulletinStatus">Check</button>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="address">
                <h1>ICCH</h1>
                <h2>International Catholic Community of Heidelberg</h2>
                <ul>
                    <li>St. Bartholomäus Church</li>
                    <li>Wallstraße 27/1, 69123 Heidelberg</li>
                    <li>06221 4352 670 - Office St. Bartholomäus</li>
                </ul>
            </div>
            <div class="readings">
                <h1>Today's readings:</h1>
                <p class="ref">
                    <span class="action" v-on:click="showInput('readingpicker', 'bulletin.reading1')">{{ bulletin.reading1 }}</span> |
                    <span class="action" v-on:click="showInput('readingpicker', 'bulletin.reading2')">{{ bulletin.reading2 }}</span> |
                    <span class="action" v-on:click="showInput('readingpicker', 'bulletin.reading3')">{{ bulletin.reading3 }}</span>
                <p class="welcome action" v-on:click="showInput('textbox', 'bulletin.father')">{{ bulletin.father }}</p>
            </div>
            <h1 class="title" v-bind:style="{
                    color: bulletin.colors.color2, 
                    border: '1px solid ' + bulletin.colors.border,
                    'background-color': bulletin.colors.color1 
                }">
                <span class="action" v-on:click="showInput('sundaypicker', 'bulletin.date')">{{ bulletin.date }}</span>
                    {{ bulletin.title ? " &ndash; " : "" }}
                <span class="action" v-on:click="showInput('textbox', 'bulletin.title')">{{ bulletin.title }}</span>
            </h1>
            <img v-if="bulletin.image.enabled"
                v-bind:class="{ image1: true, action: true, 'float-left': bulletin.image.layout === 'left', 'float-right': bulletin.image.layout === 'right' }"
                v-on:click="showInput('textbox', 'bulletin.image.src')"
                v-bind:src="bulletin.image.src"
                v-bind:style="{ width: bulletin.image.size + '%' }" />
            <span v-bind:class="'text action ' + 'textMargin' + bulletin.fonts.text.paragraphMargin" v-bind:style="{
                'line-height': bulletin.fonts.text.lineHeight + 'pt',
                'font-family': bulletin.fonts.text.family,
                'font-size': bulletin.fonts.text.size + 'pt'
            }" v-on:click="showInput('textbox', 'bulletin.text')" v-html="md2html(bulletin.text)"></span>
            <div class="source action" v-on:click="showInput('textbox', 'bulletin.source')" v-html="txt2html(bulletin.source)"></div>
            <div v-if="bulletin.appointments.length" section class="page-footer">
                <h2 class="subtitle" v-bind:style="{ 
                    color: bulletin.colors.color2,
                    'background-color': bulletin.colors.color1,
                    border: '1px solid ' + bulletin.colors.border
                }">NEWS</h2>
                <div class="hideinprint">
                    <button v-on:click="addAppointment"><span class="fa fa-plus"> Add</span></button>
                    <button v-on:click="sortAppointments()">
                        <span class="fa fa-sort"> Sort</span>
                    </button>
                    <button v-on:click="deleteAllAppointments()">
                        <span class="fa fa-trash-o"> Delete all</span>
                    </button>
                </div>
                <ul class="info">
                    <li v-for="appointment in bulletin.appointments">
                        <button v-on:click="deleteAppointment(appointment)" class="hideinprint fa-trash-o fa"></button>
                        <button v-on:click="moveAppointmentUp(appointment)" class="hideinprint fa fa-arrow-up"></button>
                        <button v-on:click="moveAppointmentDown(appointment)" class="hideinprint fa fa-arrow-down"></button>
                        <span class="action appointmentDate" v-on:click="showInput('daypicker', 'epoch', appointment, 'bulletin.appointments')">{{ appointment.date }}</span> &ndash;
                        <span class="action" v-on:click="showInput('appointmentTextbox', 'description', appointment, 'bulletin.appointments')" v-html="md2html(appointment.description)"></span>
                    </li>
                </ul>
                <ul class="footer">
                    <li>If you would like to be added to our email list please send your contact information to:</li>
                    <li><a v-bind:href="'mailto:' + bulletin.newsletter">{{ bulletin.newsletter }}</a></li>
                </ul>
            </div>
            <ul v-else class="footer">
                <li>If you would like to be added to our email list please send your contact information to:</li>
                <li><a v-bind:href="'mailto:' + bulletin.newsletter">{{ bulletin.newsletter }}</a></li>
            </ul>
        </div>
        <script src="js/main.js"></script>
    </body>
</html>
