body {
    margin: 0;
    padding: 1em;
    font-size: 0.5em;
    font-family: Tahoma, Verdana;
}

a, a:hover {
    color: black;
}

.btn {
    cursor: pointer;
    cursor: hand;
}
.btn:hover {
    color: #FFFF00;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          not supported by any browser */
}

#app {
    width: 800px;
    margin: 0 auto;
    padding: 1em;
    font-family: Times, Georgia;
}

.address {
    background: #CCC;
    border: 1px solid #333;
    text-align: center;
    font-size: 1.3em;
    line-height: 1em;
    width: 65%;
    float: left;
    margin-bottom: 2em;
}
.address h1 { 
}
.address h2 {
    font-size: 1.8em;
    margin: 4pt 0;
}
.address ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    font-size: 1.5em;
    line-height: 1.1em;
}

.readings {
    margin-top: 1.2em;
    float: right;
    width: 30%;
    text-align: right;
    font-size: 1.3em;
}
.readings h1 {
    margin: 0;
}
.readings .ref {
    margin: 0.3em;
    font-size: 10pt;
}
.readings .welcome {
    font-style: italic;
    text-decoration: underline;
    font-size: 10pt;
}

.title {
    clear: both;
    background-color: black;
    color: #FFF;
    font-size: 18pt;
    margin-top: 2em;
}

.text {
    text-align: justify;
    font-size: 10pt;
}

.subtitle {
    clear: both;
    background: black;
    color: #FFF;
    text-align: center;
    font-size: 2.5em;
}

.source {
    text-align: right;
    font-size: 1.3em;
}

.footer {
    border-top: 1px solid black;
    list-style: none;
    margin: 0;
    padding-left: 0;
    font-size: 10pt;
    line-height: 1.3em;
    text-align: center;
    margin-top: 1em;
    padding-top: 1em;
}

.page-footer {
    position: fixed;
    bottom: 0;
    left: 1em;
    right: 1em;
    font-size: 1em;
    background-color: white;
    width: 800px;
    margin: 0 auto;
}
.info {
    font-size: 2em;
}

.action:hover {
    color: #00ABFF;
    cursor: pointer;
    cursor: hand;
}

@media screen {
    .action:after {
        content: "✎";
        display: inline;
        color: transparent;
    }
    .action:hover:after {
        color: #00ABFF;
    }
}

#inputDialog {
    display: block;
    background: rgba(0,0,0,0.8);
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2em;
}

#inputDialog {
    font-family: Tahoma;
    font-size: 12pt;
}

#inputDialog textarea,
#inputDialog input[type=text] {
    background-color: #FFEECC;
}
#inputDialog textarea {
    min-height: 12em;
    width: 100%;
    height: 80%;
    padding: 0.5em;
}
#inputDialog button:hover,
#inputDialog li:hover {
    background: yellow;
    cursor: pointer;
    cursor: hand;
}
#inputDialog button,
#inputDialog input[type=text],
#inputDialog textarea {
    border: none;
    border-left: 3px solid #00ABFF;
    border-radius: 3px;
    color: #333;
    font-size: 1.2em;
    margin-bottom: 1em;
}

#inputDialog ul {
    margin: 0;
    padding: 0;
    margin-bottom: 1em;
    margin-top: -1em;
    max-height: 10em;
    overflow-y: scroll;
}

#inputDialog li {
    display: block;
    background: white;
    margin-top: 1px;
    border-left: 4px solid #00ABFF;
    padding: 0.2em;
}

#inputDialog .hint {
    color: #AAA;
    font-weight: bold;
}

#inputDialog .daypicker {
    color: white;
}
#inputDialog .daypicker table {
    margin-bottom: 1em;
}

#inputDialog .daypicker tr td.text-center:hover {
    color: #00ABFF;
    cursor: hand;
    cursor: pointer;
}
#inputDialog .daypicker i.fa-caret-left {
    float: left;
    cursor: hand;
    cursor: pointer;
    font-size: 1.3em;
}
#inputDialog .daypicker i.fa-caret-right {
    float: right;
    cursor: hand;
    cursor: pointer;
    font-size: 1.3em;
}

#toolBar {
    padding-left: 1em;
    padding-right: 1em;
    /* background: #00ABFF; */
    margin-top: -1em;
    border-radius: 0 0 3px 3px;
    font-family: Tahoma;
    padding-bottom: 0.5em;
    font-size: 2em;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00abff+0,006eff+100 */
    background: rgb(0,171,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(0,171,255,1) 0%, rgba(0,110,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,171,255,1) 0%,rgba(0,110,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,171,255,1) 0%,rgba(0,110,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00abff', endColorstr='#006eff',GradientType=0 ); /* IE6-9 */
}
#toolBar ul {
    margin: 0;
    padding: 0;
}
#toolBar li {
    margin-right: 0.7em;
    list-style: none;
    border: 0;
    display: inline-block;
    color: white;
    font-weight: bold;
}
#toolBar li:last-child {
    margin-right: 0;
}
#toolBar .color {
    display: inline-block;
    height: 0.7em;
    width: 0.7em;
    border: 1px solid black;
}
#toolBar .tabs {
    width: 100%;
    margin-bottom: 1em;
}
#toolBar .tabs li:hover {
    color: #FFFF00;
}
#toolBar .tabs li {
    color: white;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 2em;
    cursor: hand;
    cursor: pointer;
}
#toolBar .tabs li.selected {
    background: #000099;
}

#toolBar .sizeBox {
    width: 3.8em;
    text-align: left;
    display: inline-block;
    background: #00A1F0;
}

#toolBar .theme {
    width: 4em;
    height: 2em;
    padding: 0.2em;
    font-size: 0.8em;
}

@media print {
    .hideinprint {
        display: none !important;
    }
}
.vue-color__slider {
    width: 100px !important;
}
.vue-color__slider__swatches {
    margin-top: 0 !important;
}
.vue-color__slider__hue-warp {
}

.image1 {
    margin-top: 0.5em;
    max-width: 100%;
}
.image1.float-left {
    margin-right: 1em;
    float: left;
}
.image1.float-right {
    margin-left: 1em;
    float: right;
}


.publishPassword {
    width: 5em;
}

#messageToasts {
    position: fixed;
    top: 1em;
    right: 48em;
    width: 0;
    z-index: 999;
}
.messageToast.error {
    background: rgb(134, 45, 46);
}
.messageToast.confirm{
    background: rgb(45, 134, 71);
}
.messageToast {
    float: left;
    font-size: 2em;
    padding: 1em;
    border-radius: 3px;
    border: 2px solid #BBB;
    color: white;
    background: #00ABFF;
    font-weight: bold;
    width: 20em;
    margin-bottom: 0.5em;
}
.messageToast.show-true {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
.messageToast.show-false {
    opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
